.footer-container {
    padding: 1.5rem 0rem;
    background-color: #35424a;
    bottom: 0;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 75rem;
    margin: 0 auto;
  }
  
  .footer-left,
  .footer-right {
    text-align: center;
    margin-bottom: 1rem;
    color: #ffffff;
  }
  

  
  .footer-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  
  .footer-link {
    text-decoration: none;
    color: #ffffff;
    margin: 0rem 0.5rem;
    transition: color 0.3s ease;
  }
  
  .footer-link:hover {
    color: #ffcc00;
  }
  