.main-container {
   
    background-color: #4e626e;
  }
  
  .section-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    padding-top: 2rem;
   
    margin-bottom: 2rem;
    background-color: #4e626e;
    color: #fff;
    
  }
  
  .projects-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 3rem;
    padding-bottom: 2rem;
    margin-bottom: -2rem;
  }
  
  .project-card {
    cursor: pointer;
    background-color: #f8f8f8;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 18rem;
    
    margin-bottom: 1.5rem;
  }
  
  .project-card i {
    display: block;
    font-style: italic;
    margin-bottom: 0.5rem;
  }
  
  .project-card h1 {
    font-size: 2rem;
    
  }
  
  .project-card p {
    margin-bottom: 2rem;
    color: #222;
  }
  
  .project-button {
    padding: 0.3rem 1.4rem;
    background-color:rgb(13, 236, 236);
    border: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .project-button:hover {
    background-color:rgb(8, 161, 212);
  }
  