.expertise-container {
    margin-top: 2rem;
    margin-bottom: -2rem;
    
  }
  
  .expertise-title {
    font-size: 2rem;
    padding: 3rem ;
    margin-bottom: -2rem;
    margin-top: -3rem;
    color: #fff;
    background-color: #35424a;
  }
  
  .box-container {
    display: flex;
    background-color: #35424a; 
    padding: 3rem 3rem;
  
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .text-container {
    flex: 2/3;
    text-align: left;
    color: #fff;
  }
  
  .text-title {
     margin-top: 1.4rem;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: rgb(101, 179, 181);
  }
  
  p {
    margin-bottom: 2rem;
    color: #ddd;
  }
  
  .hire-button {
    margin-top: 1rem;
    padding: 0.5rem 1.2rem;
    background-color: rgb(13, 236, 236);
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff; 
    transition: background-color 0.3s ease;
   
  }
  
  .hire-button:hover {
    background-color: rgb(8, 161, 212);
  }
  
  .skills-container {
    width: 50%;
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
  }
  
  .skill {
    background-color: #f4f4f4;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    color: #35424a; 
    max-height: 4rem;
  }
  
  .skill:hover {
    background-color: #e5e5e5; 
    color: #ffcc00;
  }
  
  
  @media only screen and (max-width: 768px) {
    .box-container {
     
      flex-direction: column;
      align-items: center;
      padding: 3rem 2rem;
    }
  
    .text-container {
      display: flex;
      text-align: center;
      order: 2;
      margin-bottom: 1rem;
    }
  
    .skills-container {
      order: 1;
      width: 100%;
      padding: 0rem 1.5rem;
      
    }
    .hire-button {
     
      align-self: center;
      padding: 0.4rem 1.2rem;
      font-size: 1.2rem;
     
    }
  
    .text-title{
      align-self: center;
      
  
    }
    .expertise-title{
      text-align: center;
      margin-bottom: -3rem;
      font-size: 1.7rem;
    }
    .icon{
      margin-left: .3rem;
      
    }
    
  }
  